<div class="table__wrapper mat-elevation-z8">
	<div class="table__headers">
		<div class="table__headers__filter">
			<div class="col-12 d-flex">
				<div class="col-6 d-flex">
					<h4>Agrupado por&nbsp;</h4>
					<h4 mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
						class="primary-color">
						{{ menuOptionDefaultSelected }} ▼
					</h4>
					<mat-menu #menu="matMenu">
						<button mat-menu-item *ngFor="let menu of menuGroups" (click)="handleGroupOption(menu)">
							<span>{{menu.val}}</span>
						</button>
					</mat-menu>
				</div>
				<div class="col-6 text-right">
					<div *ngIf="numberDaysReport > 1">
						<h4>Datos de
							<span class="primary-color">{{ numberDaysReport }}</span>
							días, entre
							<span class="primary-color">{{ dateStart }}</span>
							y
							<span class="primary-color">{{ dateEnd }}</span>
							<br>
							<span *ngIf="provider">prov: <span class="primary-color">{{ provider }}</span></span>
							<span *ngIf="game">
								tienda: <span class="primary-color">{{ game }}</span>
							</span>
							<span *ngIf="player">
								player: <span class="primary-color">{{ player }}</span>
							</span>
						</h4>
					</div>
					<div *ngIf="numberDaysReport == 1">
						<h4>Datos de un <span class="primary-color">{{ numberDaysReport }}</span> día, de la fecha
							<span class="primary-color">{{ dateStart }}</span></h4>
					</div>
				</div>
			</div>
			<app-multi-filter [allFilters]="filters" (runFilter)="handleFilter($event)" *ngIf="showFilters">
			</app-multi-filter>
		</div>
		<div class="table__headers__buttons" *ngIf="showBtnReload || showBtnDownload || showBtnAdd">
			<button mat-icon-button color="primary" class="mx-1" (click)="handleRefresh()" *ngIf="showBtnReload">
				<mat-icon>replay</mat-icon>
			</button>
			<!-- <button mat-icon-button color="primary" class="mx-1" (click)="exportToCsv()" *ngIf="showBtnDownload">
				<mat-icon>get_app</mat-icon>
			</button> -->
			<button mat-stroked-button color="primary" class="mx-1" (click)="handleNew()" *ngIf="showBtnAdd">
				<mat-icon>add</mat-icon>
				Agregar
			</button>
		</div>
	</div>

	<div class="row px-3" *ngIf="showBtnReload || showBtnDownload || showBtnAdd">
		<div class="col-12">
			<mat-divider></mat-divider>
		</div>
	</div>

	<div class="table__container" style="max-height: calc(100vh - 372px)">
		<table mat-table [dataSource]="dataSource">
			<ng-container matColumnDef="index">
				<th mat-header-cell *matHeaderCellDef> # </th>
				<td mat-cell *matCellDef="let row; let nro = index"> {{ nro + 1 }} </td>
			</ng-container>
			<ng-container [matColumnDef]="item.key" *ngFor="let item of columns">
				<th mat-header-cell *matHeaderCellDef [ngStyle]="{'text-align': item.align}"
					[style.min-width.px]="item.width ? item.width : 120">{{ item.header }}</th>
				<td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': item.align}">{{ row[item.key] }}</td>
			</ng-container>
			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef> ACCIONES </th>
				<td mat-cell *matCellDef="let row; let i = index">
					<ng-container *ngFor="let action of row.actions">
						<button mat-icon-button (click)="handleAction( action, row )" [matTooltip]="action.label"
							[matTooltipPosition]="'left'" *ngIf="action.show">
							<mat-icon [ngStyle]="{'color': action.color }">{{ action.icon }}</mat-icon>
						</button>
					</ng-container>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>
	<div class="table__footer">
		<div class="" *ngIf="showBtnDownload">
			<button mat-icon-button color="primary" class="mx-1" (click)="exportToCsv()" *ngIf="showBtnDownload">
				<mat-icon>get_app</mat-icon>
			</button>
		</div>
		<div class="table__footer__options" *ngIf="showChooseColumns">
			<mat-form-field appearance="outline">
				<mat-label>Columnas</mat-label>
				<mat-select (selectionChange)="chooseColumns($event.value)" multiple [formControl]="columnsSelected">
					<mat-select-trigger>
						{{displayedColumns.length}} {{displayedColumns.length > 1 ? 'columnas seleccionadas' : 'columna
						seleccionada'}}
					</mat-select-trigger>
					<mat-option *ngIf="index" value="index"> # </mat-option>
					<mat-option *ngFor="let item of columns" [value]="item.key">{{item.header}}</mat-option>
					<mat-option *ngIf="actions" value="actions"> ACCIONES </mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="table__footer__paginator">
			<mat-paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
				[length]="totalRecords" (page)="handleChangePage($event)" showFirstLastButtons>
			</mat-paginator>
		</div>
	</div>
</div>
