<div class="container">
	<div class="row animate__animated animate__fadeInUp">
		<div class="col-12">
			<form [formGroup]="form">
				<mat-card>
					<div class="row">
						<div class="col-12">
							<h3>
								{{
									pageType == "new"
										? "Registrar "
										: "Actualizar "
								}}
								Perfil
							</h3>
						</div>

						<app-form-field-select
							class="col-12"
							appearance="outline"
							formControlName="userType"
							label="Usar como username"
							[options]="userType"
							[display]="'text'"
							[key]="'id'"
							[error]="form.controls['userType']"
						></app-form-field-select>

						<app-form-field-select
							class="col-12"
							appearance="outline"
							formControlName="storeId"
							label="Tienda"
							[options]="stores"
							[display]="'name'"
							[key]="'storeId'"
							[error]="form.controls['storeId']"
						></app-form-field-select>

						<app-form-field-input
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="firstName"
							[type]="'text'"
							label="Nombre *"
							[error]="form.controls['firstName']"
						>
						</app-form-field-input>

						<app-form-field-input
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="lastName"
							[type]="'text'"
							label="Apellidos *"
							[error]="form.controls['lastName']"
						>
						</app-form-field-input>

						<app-form-field-input
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="email"
							[type]="'text'"
							label="E-mail"
							[error]="form.controls['email']"
						>
						</app-form-field-input>

						<app-form-field-input
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="phone"
							placeholder=""
							[type]="'text'"
							label="Telefono"
							[error]="form.controls['phone']"
						>
						</app-form-field-input>

						<app-form-field-input
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="birthdate"
							[type]="'text'"
							label="Fecha de nacimiento"
							[error]="form.controls['birthdate']"
						>
						</app-form-field-input>

						<app-form-field-input
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="birthdate"
							[type]="'text'"
							label="Fecha de nacimiento"
							[error]="form.controls['birthdate']"
						>
						</app-form-field-input>

						<app-form-field-select
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="countryId"
							(rowSelect)="countrySelected($event)"
							label="Pais"
							[options]="countries"
							[display]="'name'"
							[key]="'countryId'"
							[error]="form.controls['countryId']"
						></app-form-field-select>

						<app-form-field-input
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="city"
							[type]="'text'"
							label="Ciudad"
							[error]="form.controls['city']"
						>
						</app-form-field-input>

						<app-form-field-input
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="address"
							[type]="'text'"
							label="Direccion"
							[error]="form.controls['address']"
						>
						</app-form-field-input>

						<app-form-field-select
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="identId"
							label="Tipo de identificacion"
							[options]="idents"
							[display]="'name'"
							[key]="'identId'"
							[error]="form.controls['identId']"
						></app-form-field-select>

						<app-form-field-select
							class="col-12 col-md-6"
							appearance="outline"
							formControlName="currencyId"
							label="Moneda"
							[options]="currencies"
							[display]="'nameSingular'"
							[key]="'currencyId'"
							[error]="form.controls['currencyId']"
						></app-form-field-select>

						<div class="col-12">
							<div class="d-flex buttons-submit">
								<button
									(click)="handleCancel()"
									mat-stroked-button
									color="warn"
								>
									CANCELAR
								</button>
								<button
									(click)="
										pageType == 'new'
											? handleNewItem()
											: handleUpdItem()
									"
									#submit
									[disabled]="!form.valid"
									mat-raised-button
									color="primary"
								>
									{{
										pageType == "new"
											? "REGISTRAR"
											: "ACTUALIZAR"
									}}
								</button>
							</div>
						</div>
					</div>
				</mat-card>
			</form>
		</div>
	</div>
</div>
