@import "~@angular/material/theming";

@mixin app-main-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-main {
    .toolbar__logo {
      color: mat-color($primary) !important;
    }
  }
}
